<h1>Actor #<%= @actor_id%> details</h1>

<a href = "/actors">Go back</a>


<hr>
   
   <% 
   actors = Actor.all
   actor = actors.where({ :id => @actor_id }).first 
   %>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= actor.bio %>
  </dd>

  <dt>
    Image
  </dt>

  <dd>
      <img src=<%= actor.image %> style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
      <%= actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
         <%= actor.updated_at %>
  </dd>
</dl>

<hr>
<h2>Filmography</h2>

 <style>
    table, th, td {
      border: 3px double black;
      border-collapse: collapse;
    }
  </style>


  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Character name</th>
        <th> </th>
      </tr>
    </thead>

<tbody>
 <% 
   characters = Character.all
   @roles = characters.where({ :actor_id => @actor_id })
   @roles.each do |role| %>
        <tr>
          <td><%= Movie.all.where({:id => role.movie_id}).first.title%></td>
          <td><%= Movie.all.where({:id => role.movie_id}).first.year%></td>
          <td><%= 
            director_id =  Movie.all.where({:id => role.movie_id}).first.director_id
            Director.all.where({:id => director_id}).first.name
            %></td>
          <td><%= role.name%></td>
          <td><a href="/movies/<%= role.movie_id %>">Show details</a></td>
        </tr>
      <% end %>

</tbody>
  
  </table> 

  </table> 
